.App {
  text-align: center;
  padding: 30px;
  background-color: #b0b2b4;
  font-family: Arial, sans-serif;
}

.CalendarContainer {
  margin-bottom: 30px;
}

.BirthdayListContainer {
  border: 2px solid #007bff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
  background-color: #fff;
  /* Removed max-height and overflow-y to eliminate scroll */
}

.FavoriteBirthdaysContainer {
  /* margin-top: 30px; */
  border: 2px solid #28a745;
  padding: 15px;
  border-radius: 8px;
  max-height: 300px; /* Fixed height for the container */
  overflow-y: auto; /* Allow scrolling within the container */
  background-color: #fff;
}

.Birthday {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddButton,
.DeleteButton {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.DeleteButton {
  background-color: #dc3545;
}

.AddButton:hover,
.DeleteButton:hover {
  background-color: #0056b3;
}

.DeleteButton:hover {
  background-color: #c82333;
}

.Pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.Pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}
